* {
    box-sizing: border-box;
    background-color: rgb(37, 29, 48);
    color: white;
}
img {
    display: block;
    max-width: 35%;
    margin: 0px auto;
    padding-bottom: 5rem;
}
p { 
    text-align: center;
    padding-top: 7rem;
}

.main {
    /* make main element take up any surplus space and push the footer down */
    flex: 1 0 auto;
  
    display: flex;
    flex-direction: column;
  }
.heading {
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    color: white;
    margin-bottom: 0;
    text-align: center;
    padding: 2rem;
}
.audio {
    display: block;
    margin: 0 auto;
    padding: 2rem;
   text-align: center;
}

.bio-text {
    padding: 2rem;
    text-align: center;
}

.music-link {
    color: white;
    text-decoration: none;
    background-color: slategrey;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(37, 29, 48);
    height: 3rem;
    display: flex;
    justify-content: space-around;
      }
i {
    font-size: 1.6rem;
}

.copyright-text {
    font-size: .8rem;
    padding-top: 1rem;
    margin-bottom: 5rem;
}



 img {
    padding: 3px;
    border: 2px solid black;
    background-color: rgb(28, 26, 56);
    border-radius: 15px;
  }
  #photos {
    line-height: 0;
  }

  #photos > p {
    font-size: 1.6rem;
    padding: 4rem 2rem 0 2rem;
   
  }
@media (min-width: 300px) and (max-width: 768px) {
    img {
        max-width: 90%;}
        .audio {
            padding: 1rem;
        }
    
}