* {
    box-sizing: border-box;
    background-color: rgb(37, 29, 48);
    color: white;
}
img {
    display: block;
    max-width: 35%;
    margin: 0px auto;
    padding-bottom: 5rem;
}
p { 
    text-align: center;
    padding-top: 7rem;
}


.heading {
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    color: white;
    margin-bottom: 0;
    text-align: center;
    padding: 2rem;
}
.audio {
    display: block;
    margin: 0 auto;
    padding: 2rem;
   text-align: center;
}

.bio-text {
    padding: 2rem;
    text-align: center;
}

.music-link {
    color: white;
    text-decoration: none;
    background-color: slategrey;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(37, 29, 48);
    height: 3rem;
    display: flex;
    justify-content: space-around;
      }
i {
    font-size: 1.6rem;
}

.copyright-text {
    font-size: .8rem;
    padding-top: 1rem;
    margin-bottom: 5rem;
}


@media (min-width: 300px) and (max-width: 768px) {
    img {
        max-width: 90%;}
        .audio {
            padding: 1rem;
        }
    
}